@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #root {
    @apply h-full;
  }

  html,
  body {
    @apply h-full;

    @apply select-none;

    @apply bg-stroke;

    @apply font-sans font-normal antialiased text-stroke;

    @apply overflow-hidden;
  }
}
.theme-light {
  --color-primary: #7a6d6a;
  --color-secondary: #e5e7eb;
  --color-accent: #972f34;
  --color-hover: #f06123;
  --color-stroke: #7a6d6a;
  --color-main: #fffffe;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #ddd;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
