@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #root {
    @apply h-full;
  }

  html,
  body {
    @apply h-full;

    @apply select-none;

    @apply bg-stroke;

    @apply font-sans font-normal antialiased text-stroke;

    @apply overflow-hidden;
  }
}
.theme-light {
  --color-primary: #838897;
  --color-secondary: #d1d1e9;
  --color-accent: #e45858;
  --color-stroke: #0d0c22;
  --color-btn: #fffffe;
  --color-main: #fffffe;
}
